body
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.wrapper {
	margin: 50px auto;
	max-width: 800px;
	padding: 20px;
	text-align: center;
}
.wrapper a
{
	color: #000;
	text-decoration: none;
}

a
{
	text-decoration: underline;
	color: black;
}

a:hover
{
	text-decoration: none;
}

.header {
	padding: 30px 0;
	border-bottom: solid;
}

.content {
	float: right;
	width: 75%;
	border-left: solid;
	padding-left: 30px;
}

nav {
	float: left;
	width: 15%;
	background-color: brown;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

h1
{
	font-weight: 500;
}